include pyproject.toml
include setup.py
include README.md
include LICENSE
include jdepp/jdepp.BSD
include jdepp/jdepp.GPL
include jdepp/jdepp.LGPL
include jdepp/cedar.h
include jdepp/classify.cc
include jdepp/classify.h
include jdepp/linear.cc
include jdepp/linear.h
include jdepp/io-util.cc
include jdepp/io-util.hh
include jdepp/kernel.cc
include jdepp/kernel.h
include jdepp/typedef.h
include jdepp/timer.h
include jdepp/timer.cc
include jdepp/pdep.cc
include jdepp/pdep.h
include jdepp/pecco.h
include jdepp/pa.h
include jdepp/python-binding-jdepp.cc
include jdepp/__init__.py
include jdepp/main.py
include test/import-test.py
include test/test-001.py
include example/simple_jdepp.py
